<p id="notice"><%= notice %></p>

<h1>
  <b>Product:</b>
  <%= link_to @assembly.product.codename, @assembly.product %>
</h1>

<%= breadcrumb @assembly %>

<p>
  <b>Assembler:</b>
  <%= @assembly.assembler %>
</p>

