<p id="notice"><%= notice %></p>

<h1>
  <b>Product:</b>
  <%= link_to @box.product.codename, @box.product %>
</h1>

<%= breadcrumb @box %>

<p>
  <b>Ribbon color:</b>
  <%= @box.ribbon_color %>
</p>

